    /*Extra Large screens - Extra large desktops*/
    
    /*General CSS and CSS reset*/
    
html {
      scroll-behavior: smooth;
}

/*navigation bar*/

.nav{
        background-color: rgb(15, 1, 1);
        z-index: 9;
        padding-left: 30px;
        padding-right: 20px;
        display: flex;
        box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, .6);
}
    
.nav_top{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

.logo {
        float: left;
        width: 60%;
   }

.logo .slogan
   {
        margin-left: 40px;
   }

/*navigation bar buttons*/
.nav_side {
        float: right;
        width: 40%;
        margin-left: 80px;
        margin-top: 40px;
    }
    
.nav_side a {
        text-decoration: none;
        margin-right: 10px;
        color: white;
        background-color: rgba(29, 27, 27, 0.787);
        padding: 2px;
        border-radius: 8px;
        font-weight: 700;
        font-family: cosmic, sans-serif;
        font-size: 23px;
        
    }
    
.nav_side a:hover {
        color: black;
        background-color: white;
        font-weight: bolder;
        padding: 8px;
        border-radius: 10px;
        transition: all 1s ease;
        
    }

.nav_side .register:hover{
    color: black;
    background-color: red;
    transition: all 1s ease;
}




/*home page*/
/*1st image*/


.home .home_content1 img{
    max-width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
}

.home .home_content1 .home_text h1 {
    color: white;
    text-shadow: 8px 10px 10px #000000;
    position: absolute;
    top: 0px;
    left: 16px;
    padding: 200px 60px;
    padding-bottom: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    line-height: 65px; 
}

.home .home_content1 .home_text h2 {
    color: rgb(249, 250, 255);
    text-shadow: 8px 10px 10px #000000;
    font-family: lucida handwriting, cursive;
    position: absolute;
    text-align: right;
    line-height: 50px;
    bottom: 0px;
    right: 0px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: 800;
    
}


.home .home_content1 .home_text h2 span{
    font-family: cosmic, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: red;
    padding-bottom: none;
    margin-bottom: none;
    border-bottom: none;
}

/*home page*/
/*2nd image*/
.home .home_content2 img{
    width: 100%;
    height: 120vh;
    display: flex;
    margin-top: none;
}

.home .home_content2 .home_text2 h1 {
    color: white;
    text-shadow: 8px 10px 10px #000000;
    position: absolute;
    top: 0px;
    left: 16px;
    padding: 800px 60px;
    padding-bottom: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    line-height: 80px; 
}

.home .home_content2 .home_text2 h1 span{
    color: red;
    font-size: 80px;
}


/*home page*/
/*3rd image*/

#home_content3_para1{
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 3px #f90909;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;  
}

#home_content3_para2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    line-height: 25px;
    font-weight: 550;
    margin-bottom: 20px;
  
}


.home .home_content3 .btn{
    margin-top: 0px;
    margin-left: 595px;
    margin-bottom:30px;
  }

.home .home_content3 .btn a{
    text-decoration: none;
    position: center;
    padding: 10px 20px;
    background-color: rgba(1, 0, 0, 0.857);
    color: white;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    border-bottom: 3px solid rgb(241, 8, 8);
    border-radius: 10px;
    transition: 1s;
}

.home .home_content3 .btn a:hover {
    background-color: rgb(5, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    border: 5px solid rgb(251, 8, 8);
    border-radius: 15px;
    transition: 1.5s;
}


/*courses section*/
.home .ourcourses {
    margin-top: 40px;
    color:aliceblue;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 5px 0px 10px #d5d4d4;

}

.home .courses{
    padding-bottom: 60px;
    background-color: black;
    overflow: hidden;
}
.card{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.card-list{
    width:300px;
    margin-top: 30px;
    overflow: hidden;

}

.card-image{
    width:100%;
    height: 400px;

}
.card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 0px 5px 5px rgba(255, 255, 255, 0.2), 20px 10px 40px 0 rgb(255, 255, 255,0.6);
}

.card-text{
    margin-top: 20px;
    width:90%;
    color: antiquewhite;
    text-align: center;
}

.card-text .btn{
    width: 100%;
    color: rgb(253, 16, 16);
    background-color: rgb(240, 21, 21);
}
.card-text .btn .course1{
    font-size: 20px;
    font-weight:800;
    width: 100%;
    color: rgb(17, 1, 1);
    background-color: rgb(240, 21, 21);
    border:none;
}

.card-text .btn .course2{
    font-size: 20px;
    font-weight:800;
    width: 100%;
    color: rgb(17, 1, 1);
    background-color: rgb(240, 21, 21);
    border:none;
}
.card-text .btn .course3{
    font-size: 20px;
    font-weight:800;
    width: 100%;
    color: rgb(12, 0, 0);
    background-color: rgb(240, 21, 21);
    border: none;
}




/*------------------QUERIES--------------*/

.queries
    {
    height: 700px;
    background-image: url("images/donow2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    }

.queries h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    color:rgb(234, 155, 9);
    text-shadow: 2px 4px 8px #e1c408;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-right: 60px;
    animation: animate 2.5s linear infinite;

}

@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }

.queries form {
    background-color: rgb(1, 14, 19);   
    opacity:0.8;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 16px black;
    width: 40%;
    height: 60%;
    text-align: center;
    border-radius: 10px;
    box-sizing:border-box;
    display: block;
    font-family: cursive;
    font-size: 14px;
    line-height: 20px;

}

form h3 {
    color: rgb(245, 2, 2);
    text-shadow: 2px 4px 8px #ffffff;
    font-style: italic;
    padding: 20px;
    padding-top: 0px;
    font-size: 30px;
    font-weight: bold;
    animation: animate 2.5s linear infinite;
}

form h3:hover{
    zoom:110%;    
}



























/*footer section*/

footer {
    background-color: rgb(58, 62, 64);
}

footer .footer_logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

footer .footer_logo img:hover{
    transition: all 1s ease;
    height: 220px;
    width: 220px;
}

footer .pages{
    text-align: center;
    align-content: center;
    padding:10px;
    align-items: center;
}


footer .pages h3{
    font-family: Courgette;
    font-style: italic;
    color: rgb(255, 205, 25);
    font-weight: 500;
    font-size: 30px;    
    text-shadow: 5px 0px 5px #430404;
}

footer .pages a{
    text-decoration: none;
    padding: 30px;
    color: white;
    font-size: 25px;
    font-family: cursive;
}
footer .pages a:hover{
    font-size: 30px;
    color: rgb(32, 243, 246);
    font-weight: bolder;
    transition: all 1s ease;
    padding: 30px;
}

footer .doc{
    text-align: center;
}

footer .doc h3{
    font-family: Courgette;
    font-style: italic;
    color: rgb(255, 205, 25);
    font-weight: 500;
    font-size: 30px;    
    text-shadow: 5px 0px 5px #430404;
}

footer .doc a{
    text-decoration: none;
    padding:20px;
    color: white;
    font-size: 25px;
    font-family: cursive;
}

footer .doc a:hover{
    font-size: 30px;
    color: rgb(28, 3, 3);
    transition: all 1s ease;
    padding: 30px;
    font-weight: bolder;
}


footer .social{
    text-align: center;
}

footer .social h3{
    font-family: Courgette;
    font-style: italic;
    color: rgb(255, 205, 25);
    font-weight: 500;
    font-size: 30px;    
    text-shadow: 5px 0px 5px #430404;
}

footer .social a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: cursive;
}

footer .social a:hover{
    font-size: 40px;
    color: rgb(28, 3, 3);
    transition: all 1s ease;
    padding: 30px;
    font-weight: bolder;
}

footer .contact{
    text-align: center;
}

footer .contact h3{
    font-family: Courgette;
    font-style: italic;
    color: rgb(255, 205, 25);
    font-weight: 500;
    font-size: 30px;    
    text-shadow: 5px 0px 5px #430404;
}

footer .contact a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: cursive;
}

footer .contact a:hover{
    font-size: 40px;
    color: rgb(8, 3, 28);
    transition: all 1s ease;
    padding: 30px;
    font-weight: bolder;
}

footer hr {
    border-top: dotted black 2px;
    border-bottom: none;
    width: 50%;
    margin-bottom: 5px;
}

footer p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-style: italic;
}

    